---
import BrushText from "@components/decorative/brushText.astro";
import ContactButton from "./ui/contactButton.astro";
import ImagePane from "./decorative/imagePane.astro";
import { API_GATEWAY } from "@utils/constants";

import brush1 from "@assets/brushes/brush1.svg";
import brush2 from "@assets/brushes/brush2.svg";
import brush3 from "@assets/brushes/brush3.svg";

const response = await fetch(
  `https://${import.meta.env.PUBLIC_BACKEND_URL}/api/generic-assets/1?populate=*`,
  {
    method: "GET",
    headers: {
      Authorization: `Bearer ${import.meta.env.API_TOKEN}`
    },
  }
);
const data = await response.json();
const headerImage = data.data.attributes.source.data.attributes.url;
---

<section>
  <div class="z-0 absolute top-56 my-auto grid-cols-3 grid-rows-2 hidden lg:grid">
    <div class="relative col-span-1 -ml-32 mt-28">
      <img src={brush1} alt="brush variant 1" />
      <BrushText
        id="hero-1"
        title="Il ne s'agit pas de peindre"
        path="M20, 200 C 70, 200 100, 300 270, 180"
        positioning="-top-40 ml-12"
      />
    </div>
    <div class="relative col-span-1 -mx-16">
      <img class="absolute z-10 " src={brush2} alt="brush variant 2" />
      <BrushText
        id="hero-2"
        title=" la vie mais de rendre vivante"
        path="M6, 170 C 200, 80 50, 105 270, 152"
        positioning="-top-8 ml-12"
      />
    </div>
    <div class="relative col-span-1 -mr-32 mt-20">
      <img class="z-10 absolute" src={brush3} alt="brush variant 3" />
      <div class="absolute -top-28 ml-16 -mt-32 z-0">
        <ImagePane
          src={`${API_GATEWAY}${headerImage}`}
          alt="Welcome art painting"
        />
      </div>
      <BrushText
        id="hero-3"
        title="la peinture... Pierre Bonnard"
        path="M10, 200 C 70, 200 100, 300 270, 180"
        positioning="-top-40 ml-12"
      />
    </div>
  </div>
  <main class="grid lg:grid-cols-2 place-items-left pt-0 lg:pt-16 pb-8 md:pt-8">
    <div class="absolute top-12 md:top-40 z-20 flex flex-col md:flex-row text-center">
      <h1 class="text-6xl mt-4 text-slate-600 max-w-full leading-snug">
        Léa<br />
        Stauder
      </h1>
      <div class="">
        <h2 class="lg:hidden py-4 text-2xl text-center">Il ne s'agit pas de peindre  la vie mais de rendre vivante la peinture... Pierre Bonnard</h2>
        <img class="lg:hidden w-full" src={brush1} alt="brush variant 3" />
      </div>
    </div>
  </main>
</section>
<style>
  body {
    overflow: hidden;
  }
  h1, h2 {
    font-family: "Aloja-Extended";
  }
</style>
