---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import brush1 from "@assets/brushes/brush1.svg";
import brush2 from "@assets/brushes/brush2.svg";
import brush3 from "@assets/brushes/brush3.svg";
import path1 from "@assets/brushes/pathbrush1.svg";
import BrushText from "@components/decorative/brushText.astro";
import ImagePane from "./decorative/imagePane.astro";
import { spreadAttributes } from "astro/dist/runtime/server";
import { API_GATEWAY } from "@utils/constants";
import ContactButton from "./ui/contactButton.astro";

const response = await fetch(
  "http://localhost:1337/api/generic-assets/1?populate=*"
);
const data = await response.json();
const headerImage = data.data.attributes.source.data.attributes.url;
---

<section class="relative h-[calc(100vh-10vh)] hero">
  <div class="z-0 absolute top-56 my-auto grid grid-cols-3 grid-rows-2">
    <div class="relative col-span-1 -ml-64 mt-28">
      <img src={brush1} alt="brush variant 1" />
      <BrushText
        id="hero-1"
        title="Il ne s'agit pas de peindre"
        path="M20, 200 C 70, 200 100, 300 270, 180"
        positioning="-top-56 ml-12"
      />
    </div>
    <div class="relative col-span-1 -ml-32 -mr-32">
      <img class="absolute z-10" src={brush2} alt="brush variant 2" />
      <BrushText
        id="hero-2"
        title=" la vie mais de rendre vivante"
        path="M6, 170 C 200, 80 50, 105 270, 152"
        positioning="-top-16 ml-12"
      />
    </div>
    <div class="relative col-span-1 -mr-64 mt-20">
      <img class="z-10 absolute" src={brush3} alt="brush variant 3" />
      <div class="absolute -top-28 ml-28 -mt-32 z-0">
        <ImagePane
          src={`${API_GATEWAY}${headerImage}`}
          alt="Welcome art painting"
        />
      </div>
      <BrushText
        id="hero-3"
        title="la peinture... Pierre Bonnard"
        path="M10, 200 C 70, 200 100, 300 270, 180"
        positioning="-top-60 ml-12"
      />
    </div>
  </div>
  <main class="grid lg:grid-cols-2 place-items-left pt-16 pb-8 md:pt-8">
    <div class="absolute top-40 z-20">
      <p class="text-6xl mt-4 text-slate-600 max-w-xl leading-snug">
        Léa<br />
        Stauder
      </p>
    </div>
  </main>
  <div class="absolute right-0 bottom-44 mt-6 flex flex-col sm:flex-row gap-3">
    <ContactButton />
  </div>
</section>
<style>
  body {
    overflow: hidden;
  }
  p {
    font-family: "Aloja-Light";
  }
</style>
